div[class~=language-rust]:before {
    content:"rust"
}


a {
    text-decoration: none !important;
}

.icon.outbound {
    color: #2196f3 !important;
}

iframe {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

